$color_: #F6F6F6;
$taille_btn_fontionnement: 20%;
$taille_haut_de_page: 3%;
$color_bouton: linear-gradient(160deg, rgba(255,121,218,1) 1%, rgba(147,86,220,1) 84%);
$info_menu: margin-left 15%;
$color_2: #98e2cf;