@import "base";
/* menu.html */
.a_la_française {
    display: flex;
    flex-direction: row;
    background-color: $color_;
    height: 63px;
    width: 100%;
    align-items: center;
}

.logo_menu {
    padding-left: 110px;
    width: 10rem;
}

.fa-arrow-left {
    font-size: 1.1rem;
    position: absolute;
    top: 15px;
    margin-left: 19px;
}

main {
    display: flex;
    flex-direction: column;
}

.img_menu {
    width: 100%;
    height: 256px;
    object-fit: cover;
}

.tout_menu {
    background-color: $color_;
    height: 1196px;
}
/* menu2.htm */
.tout_menu_2 {
    background-color: $color_;
    height: 1280px;
}
/* fin menu 2 */
.menu_choix {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    margin-bottom: -15px;
    background-color: #F6F6F6;
}

.titre_menu {
    margin-left: 19px;
    font-family: Shrikhand;
}

.head {
    margin-left: 15px;
    border-bottom: 2px solid $color_2;
    width: 38px;
}

.choix_menu {
    width: 350px;
    height: 60px;
    background: white;
    border-radius: 20px;
    margin-left: 10px;
    box-shadow: 1px 1px #CECECE;
}

.annimation1 {
    animation: menu_defile 2s;
}

.annimation2 {
    animation: menu_defile 3s;
}

.annimation3 {
    animation: menu_defile 4s;
}

.annimation4 {
    animation: menu_defile 5s;
}

.choix_menu:hover {
    background-color: #F5EDFF;
    cursor: pointer;
}


.price_menu {
    position: absolute;
    right: 35px;
}

.composition_menu {
    font-size: 0.965rem;
    margin: 10px 0px 0px 15px;
    padding-top: 13px;
    font-family: Roboto;
}

.info_menu {
    font-size: 0.965rem;
    line-height: 0.8rem;
    margin: 0px 0px 0px 15px;
    font-family: Roboto;
}

.fa-check-circle {
    height: 60px;
    background-color: #98E2CF;
    transition: right 2s;
}

.btn_commande {
    display: flex;
    align-items: center;
    background: $color_bouton;
    width: 185px;
    height: 51px;
    border-radius: 35px;
    margin-left: 90px;
    margin-top: 60px;
    color: white;
}

.btn_commander {
    color: white;
    margin-left: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
}

.info_site {
    color: white;
}
