@import "base";
/* menu.html */
html {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.a_la_française {
    display: flex;
    flex-direction: row;
    background-color: $color_;
    height: 63px;
    width: 100%;
    align-items: center;
}

.logo_menu {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 10rem;
}

.fa-arrow-left {
    font-size: 1.1rem;
    position: absolute;
    top: 15px;
    margin-left: 19px;
}

main {
    display: flex;
    flex-direction: column;
}

.conteneur_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.img_menu {
    width: 100%;
    height: 256px;
    object-fit: cover;
}

.tout_menu {
    background-color: $color_;
}
/* menu2.htm */
.tout_menu_2 {
    background-color: $color_;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

/* fin menu 2 */
.conteneur {
    display: flex;
    overflow: hidden;
    background: white;
    box-shadow: 1px 1px #cecece;
    border-radius: 15px;
    min-width: 320px;
    margin: 10px;
    .overlay {
        display: flex;
        background: #98E2CF;
        justify-content: center;
        align-items: center;
        color: white;
        animation: menu_retrecie 2s;
        .annim_check {
            cursor: pointer;
            animation: menu_retrecie 2s;
        }
    }
    
}

.fa-check-circle {
    background-color: #98E2CF;
    transition: right 2s;
}
.menu_choix {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    margin-bottom: -15px;
    background-color: #F6F6F6;
}

.titre_menu {
    margin-left: 19px;
    font-family: $font_titre;
    display: flex;
    justify-content: center;
}

.fa-heart {
    transition: coeur;
}

h1 {
    font-size: 1,5rem;
}

.head {
    margin-left: 15px;
    border-bottom: 2px solid $color_2;
    width: 38px;
    font-family: $font_text;
}

.choix_menu {
    width: 100%;
    padding: 10px;
    height: 40px;
    box-shadow: 1px 1px #CECECE;
}

.annimation1 {
    animation: menu_defile 2s;
}

.annimation2 {
    animation: menu_defile 3s;
}

.annimation3 {
    animation: menu_defile 4s;
}

.annimation4 {
    animation: menu_defile 5s;
}

.choix_menu:hover {
    cursor: pointer;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.composition_menu {
    font-size: 0.965rem;
    font-family: $font_text;
    margin: 0;
}

.info_menu {
    font-size: 0.965rem;
    line-height: 0.8rem;
    margin: 0;
    font-family: $font_text;
    display: flex;
}

.price_menu {
    margin-left: auto;
}

.fa-check-circle {
    display: none;
    transform: rotate(360deg);
    transition: 0.4s ease-in-out;
    display: flex;
    justify-content: center;
}

.btn_commande {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: $color_bouton;
    width: 185px;
    height: 51px;
    border-radius: 35px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    color: white;
}

.btn_commander {
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
}

.info_site {
    color: white;
}

@media screen and (max-width: 376px) {
    .tout_menu {
        background-color: $color_;
        height: 1196px;
    }

    .titre_menu {
        display: block;
    }

    .price_menu:hover {
        animation: menu_retrecie 2s;
        right: 45px;
    }

    .btn_commande {
        display: flex;
        align-items: center;
        background: $color_bouton;
        width: 185px;
        height: 51px;
        border-radius: 35px;
        margin-left: 25%;
        margin-top: 60px;
        color: white;
    }

    .fa-check-circle {
        height: 60px;
        background-color: #98E2CF;
        transition: rotate 2s;
    }
    
}