$color_: #F6F6F6;
$taille_haut_de_page: 3%;
$color_btn: #CF68DA;
a {
    text-decoration: none;
    color: black;
}
#head {
    height: 100px;
}

.logo {
    margin-left: 30px;
}

.research_ville {
    display: flex;
    align-items: center;
    background-color: $color_;
    height: 63px;
}

.fa-map-marker-alt{
    margin-left: 105px;
    font-size: 1.3rem;
}

.btn_search {
    font-size: 1.3rem;
    margin-left: 16px;
}

.reservaton {
    height: 290px;
    background-color: $color_;
}
.titre_reservation {
    margin-left: 65px;
    font-size: 2rem;
}

.info_reservation {
    font-size: 1.5rem;
    margin-left: 40px;
}

.btn_reservation {
    background-color: $color_btn;
    width: 220px;
    height: 55px;
    border-radius: 35px;
    padding: 1em;
    margin-left: 90px;
    margin-top: 100px;
}

.fonctionnement {
    height: 20%;
    padding-left: 19px;
}

.btn {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    background-color: $color_;
    width: 326px;
    height: 75px;
    border-radius: 20px;
}

.numero {
    background-color: $color_btn;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    padding: 0.5em;
    font-size: 0.8rem;
}

.btn_fonction {
    margin-left: 23px;
}

.btn_fonction {
    margin-left: 20px;
}

.tout_menu {
    height: 55%;
    background-color: $color_;
}

.restaurant {
    background-color: white;
    width: 25%;
    height: 11%;
    border-radius: 20px;
}

.img_menu {
    object-fit: cover;
    width: 25%;
    height: 15%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn_restaurant {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    height: 10%;
}

.info_site {
    color: white;
}

@media screen and (max-width: 376px) {
    body {
        width: 100%;
        margin-left: 0%;
    }
    #head {
        width: 80%;
        height: $taille_haut_de_page;
        margin-left: 20%;
        }

        .research_ville {
            width: 100%;
            background-color: $color_;
        }

        .tout_menu {
            height: 1225px;
        }

        .info_restaurant {
            margin-left: 19px;
            margin-bottom: 20px;
        }

        .restaurant
        {
            width: 337px;
            height: 250px;
            margin-top: 17px;
            margin-left: 19px;
        }

        .img_menu {
            width: 337px;
            height: 174px;
        }

        .name_restaurant {
            line-height: 0.12rem;
            margin-left: 3%;
        }

        .info_restaurant {
            line-height: 0.17rem;
            margin-left: 3%;
        }

        .logo_footer {
            margin-left: 5%;
            width: 7rem;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .fin_page {
            display: flex;
            flex-direction: column;
            height: 195px;
            margin-left: 5%;
        }

        .info_site {
            margin-left: 3%;
        }
    
}