@charset "UTF-8";
/* index.html */
@-webkit-keyframes menu_defile {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menu_defile {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes menu_retrecie {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 25%;
    opacity: 1;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@keyframes menu_retrecie {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 25%;
    opacity: 1;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@-webkit-keyframes coeur {
  from {
    opacity: 0;
  }
  to {
    opacity: 10;
    background-color: linear-gradient(160deg, #ff79da 1%, #9356dc 84%);
  }
}

@keyframes coeur {
  from {
    opacity: 0;
  }
  to {
    opacity: 10;
    background-color: linear-gradient(160deg, #ff79da 1%, #9356dc 84%);
  }
}

@keyframes menu_defile {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu_retrecie {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 25%;
    opacity: 1;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@keyframes coeur {
  from {
    opacity: 0;
  }
  to {
    opacity: 10;
    background-color: linear-gradient(160deg, #ff79da 1%, #9356dc 84%);
  }
}

/* menu.html */
html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.a_la_française {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F6F6F6;
  height: 63px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 10rem;
}

.fa-arrow-left {
  font-size: 1.1rem;
  position: absolute;
  top: 15px;
  margin-left: 19px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteneur_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.img_menu {
  width: 100%;
  height: 256px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tout_menu {
  background-color: #F6F6F6;
}

/* menu2.htm */
.tout_menu_2 {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* fin menu 2 */
.conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: white;
  -webkit-box-shadow: 1px 1px #cecece;
          box-shadow: 1px 1px #cecece;
  border-radius: 15px;
  min-width: 320px;
  margin: 10px;
}

.overlay {
  overflow: hidden;
  width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #98E2CF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.conteneur:hover .overlay {
  cursor: pointer;
  -webkit-animation: menu_retrecie 2s;
          animation: menu_retrecie 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fa-check-circle {
  cursor: pointer;
  background-color: #98E2CF;
  -webkit-transition: -webkit-transform 2s 3s;
  transition: -webkit-transform 2s 3s;
  transition: transform 2s 3s;
  transition: transform 2s 3s, -webkit-transform 2s 3s;
}

.conteneur:hover .fa-check-circle {
  cursor: pointer;
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

.menu_choix {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -40px;
  margin-bottom: -15px;
  background-color: #F6F6F6;
}

.titre_menu {
  margin-left: 19px;
  font-family: Shrikhand;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-heart {
  -webkit-transition: coeur;
  transition: coeur;
}

h1 {
  font-size: 1,5rem;
}

.head {
  margin-left: 15px;
  border-bottom: 2px solid #98e2cf;
  width: 38px;
  font-family: Roboto;
}

.choix_menu {
  width: 100%;
  padding: 10px;
  height: 40px;
  -webkit-box-shadow: 1px 1px #CECECE;
          box-shadow: 1px 1px #CECECE;
}

.annimation1 {
  -webkit-animation: menu_defile 2s;
          animation: menu_defile 2s;
}

.annimation2 {
  -webkit-animation: menu_defile 3s;
          animation: menu_defile 3s;
}

.annimation3 {
  -webkit-animation: menu_defile 4s;
          animation: menu_defile 4s;
}

.annimation4 {
  -webkit-animation: menu_defile 5s;
          animation: menu_defile 5s;
}

.choix_menu:hover {
  cursor: pointer;
  -webkit-transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.composition_menu {
  font-size: 0.965rem;
  font-family: Roboto;
  margin: 0;
}

.info_menu {
  font-size: 0.965rem;
  line-height: 0.8rem;
  margin: 0;
  font-family: Roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price_menu {
  margin-left: auto;
}

.fa-check-circle {
  display: none;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn_commande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: linear-gradient(160deg, #ff79da 1%, #9356dc 84%);
  width: 185px;
  height: 51px;
  border-radius: 35px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  color: white;
}

.btn_commander {
  color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
}

.info_site {
  color: white;
}

@media screen and (max-width: 376px) {
  .tout_menu {
    background-color: #F6F6F6;
    height: 1196px;
  }
  .titre_menu {
    display: block;
  }
  .price_menu:hover {
    -webkit-animation: menu_retrecie 2s;
            animation: menu_retrecie 2s;
    right: 45px;
  }
  .btn_commande {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: linear-gradient(160deg, #ff79da 1%, #9356dc 84%);
    width: 185px;
    height: 51px;
    border-radius: 35px;
    margin-left: 25%;
    margin-top: 60px;
    color: white;
  }
  .fa-check-circle {
    height: 60px;
    background-color: #98E2CF;
    -webkit-transition: rotate 2s;
    transition: rotate 2s;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
  font-family: Roboto;
}

#head {
  height: 100px;
  -webkit-box-shadow: 5px 6px 7px 2px #CECECE;
          box-shadow: 5px 6px 7px 2px #CECECE;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.research_ville {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EAEAEA;
  height: 63px;
  -webkit-box-shadow: 5px 5px 15px #cecece inset;
          box-shadow: 5px 5px 15px #cecece inset;
}

.fa-map-marker-alt {
  margin: auto;
  font-size: 1.3rem;
}

.btn_search {
  font-size: 1.3rem;
  margin-left: 10px;
}

.reservaton {
  height: 290px;
  background-color: #F6F6F6;
}

.titre_reservation {
  padding-top: 55px;
  margin: 0px 0px;
  font-size: 1.6rem;
  text-align: center;
  font-family: Roboto;
}

.info_reservation {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 50px;
  font-family: Roboto;
}

.btn_reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: linear-gradient(160deg, #ff79da 1%, #9356dc 84%);
  width: 220px;
  border-radius: 35px;
  padding: 1em;
  margin: auto;
  color: white;
}

.fonctionnement {
  height: 20%;
  width: 370px;
  margin: auto;
  padding-left: 19px;
}

.indentity_fonction {
  font-family: Roboto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: linear-gradient(160deg, #ff79da 1%, #9356dc 84%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  background-color: #F6F6F6;
  width: 326px;
  height: 75px;
  border-radius: 20px;
}

.btn_numero {
  background-color: #9356DB;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  padding: 4px 8px;
  font-size: 14px;
  color: white;
}

.btn:hover {
  background-color: #F5EDFF;
  cursor: pointer;
}

.numero {
  font-size: 0.8;
}

.btn_fonction {
  margin-left: 23px;
}

.btn_fonction {
  margin-left: 20px;
}

.tout_restaurant {
  height: 650px;
  background-color: #F6F6F6;
}

.conteneur_restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.proposotion_restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  margin: auto;
  font-family: Roboto;
}

.nouveau {
  position: absolute;
  margin-left: 235px;
  margin-top: 15px;
  background-color: #99E2D0;
  width: 70px;
  color: #008766;
  font-size: 14px;
  font-weight: 400;
  padding: 7px;
  border-radius: 4px;
  text-align: center;
}

.restaurant {
  width: 337px;
  height: 250px;
  margin-top: 17px;
  margin-left: 19px;
  background-color: white;
  border-radius: 20px;
}

.img_restaurant {
  width: 337px;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.name_restaurant {
  line-height: 0.12rem;
  margin-left: 3%;
}

.info_restaurant {
  line-height: 0.17rem;
  margin-left: 3%;
  font-family: Roboto;
}

.btn_restaurant {
  text-decoration: none;
}

.fa-heart {
  background-color: white;
  font-size: 1.2rem;
  position: absolute;
  font-weight: bold;
  cursor: pointer;
  margin-left: 8%;
}

.fa-heart:hover {
  -webkit-animation: coeur 2s;
          animation: coeur 2s;
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: linear-gradient(160deg, #ff79da 1%, #9356dc 84%);
}

.fin_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
}

.info_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.titre_footer {
  color: white;
  margin-left: 10px;
  font-family: Shrikhand;
}

.info_site {
  color: white;
  font-family: Roboto;
}

@media screen and (max-width: 727px) {
  .tout_restaurant {
    height: 1225px;
  }
}

/* mobile index.html */
@media screen and (max-width: 376px) {
  body {
    width: 100%;
    margin-left: 0%;
  }
  .fa-map-marker-alt {
    margin: auto;
  }
  .btn_reservation {
    margin: auto;
  }
  #head {
    width: 100%;
    height: 3%;
    margin: auto;
  }
  .research_ville {
    width: 100%;
    background-color: #F6F6F6;
  }
  .proposotion_restaurant {
    margin-left: 8%;
    padding-top: 50px;
  }
  .tout_restaurant {
    height: 1225px;
  }
  .proposotion_restaurant {
    display: block;
  }
  .conteneur_restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurant {
    width: 337px;
    height: 250px;
    margin-top: 17px;
    margin-left: 25px;
  }
  .nouveau {
    position: absolute;
    right: 35px;
    margin-top: 15px;
    background-color: #99E2D0;
    width: 70px;
    color: #008766;
    font-size: 14px;
    font-weight: 400;
    padding: 7px;
    border-radius: 4px;
    text-align: center;
  }
  .img_restaurant {
    width: 337px;
    height: 174px;
  }
  .name_restaurant {
    line-height: 0.12rem;
    margin-left: 3%;
  }
  .info_restaurant {
    line-height: 0.17rem;
    margin-left: 3%;
  }
  .fa-heart {
    background-color: white;
    right: 35px;
    font-size: 1.2rem;
    right: 10%;
    position: absolute;
    font-weight: bold;
    cursor: pointer;
  }
  .info_page {
    margin: 0px;
  }
  .logo_footer {
    margin-left: 5%;
    width: 7rem;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
  }
  .fin_page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 210px;
    margin-left: 5%;
  }
  .info_site {
    margin-left: 3%;
  }
}
/*# sourceMappingURL=style.css.map */